<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ 'site.title'|trans }}</title>

  {% block stylesheets %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Our CSS -->
  <link href="{{ asset('/css/screen.css') }}" rel="stylesheet" />
  {% endblock %}
  <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
</head>

<body>
  {% block navigation %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="http://mustangx.org" target="_blank"><span class="brand-color-1">M</span>ustang<span class="brand-color-1">X</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}">{{ 'nav.home'|trans }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('about') }}">{{ 'nav.about'|trans }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('services') }}">{{ 'nav.services'|trans }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">{{ 'nav.contact'|trans }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('search') }}">{{ 'nav.search'|trans }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  <main>
    <!-- CAROUSEL -->
    <header>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">

        <section class="main-col">
          {% block body %}{% endblock %}
        </section>
        <aside class="sidebar">
          {% block sidebar %}{% endblock %}
        </aside>

      </div>
    </section>
  </main>



  <!-- Footer -->
  <footer class="py-5 bg-dark float-bottom" id="footer">
    <div class="container">
      {% block footer %}
      <p class="float-right"><a href="#"><span class="footer-link-color">
            <!--Back to top--><i class="fas fa-angle-double-up fa-3x"></i></span></a>
      </p>

      <p class="m-0 text-center text-white">
        <a href="http://{{ 'footer.mail.domain'|trans }}" target="_blank"><span class="footer-cpright-color">{% trans %}footer.copy{% endtrans %}</span></a> &copy; 2015-{{ "now" | date("Y") }} <a href="{{ 'footer.mail.username'|trans }}@{{ 'footer.mail.domain'|trans }}"><span
            class="footer-link-color">{{ 'footer.mail.title'|trans }}</span></a>
        <br><br>
        <a href="#"><span class="footer-link-color">{{ 'legal.terms'|trans }}</span></a> &middot; <a href="#"><span class="footer-link-color">{{ 'legal.privacy'|trans }}</span></a> &middot; <a href="#"><span class="footer-link-color">{{ 'legal.disclaimer'|trans }}</span></a>
        &middot; <a href="#"><span class="footer-link-color">{{ 'legal.trademarks'|trans }}</span></a> &middot; <a href="#"><span class="footer-link-color">{{ 'legal.imprint'|trans }}</span></a>
      </p>


      <div id="socialNetworks" class="text-center">
        <p class="float-left">
          <a class="footer-link-color" id="shareFB" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            <i class="fab fa-facebook-square fa-2x" alt="Share on Facebook"></i>
          </a>

          <a class="footer-link-color" id="shareTW" target="_blank" href="http://twitter.com/home?status={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            <i class="fab fa-twitter-square fa-2x" alt="Share on Twitter"></i>
          </a>
        </p>
      </div>
    </div>
    <!-- /.container -->
    {% endblock %}
  </footer>


  {% block javascripts %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- FontAwesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
  {% endblock %}

</body>

</html>